body {
  background-color: #505050, rgb(80,80,80);
}
.jumbo {
  background-color: #009900;
}

.top {
  background-color: #009900;
}

.body {
  background-color: #00CC00;
}

.object1, .object2 {
  font-family: "Gloria Hallelujah";
  font-style: "cursive";
}

.image-list li {
    display:inline;
}

.btn-btn-default {
   display:inline;
}

.jumbotron {
   display:center;
}

.other-color {
  background: green;
}

.panel-heading.text-center.other-color {
  background: green;
}

.panel-body.text-center.other-color {
  background: lightgreen;
}

